node_modules
dist
.env
.DS_Store
coverage
yarn-error.log
lib
examples/*/node_modules
examples/**/*.js
examples/**/*.map
examples/**/*.d.ts
tsconfig.tsbuildinfo

# Yarn 2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# Devenv
.devenv*
devenv.local.nix

# Local redis
redis.log
dump.rdb

# pre-commit
.pre-commit-config.yaml
